server:
  # random port
  port: 8081

spring:
  application:
    name: user-service

eureka:
  instance:
    instance-id: ${spring.cloud.client.hostname}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    # 유레카 서버로 부터 주기적으로 인스턴스 정보를 가져올 것인지 여부
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka